<html>
    <head>
        <title>Garotas codificando o mundo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Garotas codificando o mundo</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:25</p>
            <h2><a href="">Indicação musical:</a></h2>
            <p>First Aid Kit - Stay Gold</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:19</p>
            <h2><a href="">Indicação cinematográfica:</a></h2>
            <p>O Fantasma da Ópera</p>
        </div>
    </body>
</html>

